black
black[jupyter]
pip
bump2version
wheel
watchdog
flake8
tox
coverage
Sphinx
twine

pytest
pytest-runner

# for hydromodel
ipykernel
numba
scikit-learn
deap
spotpy==1.5.14
pytest
bmipy
pyyaml
requests

muskingumcunge

hydrodata
