on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

name: Windows build
jobs:
    test-windows:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v3
            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.10"
            - name: Install uv
              uses: astral-sh/setup-uv@v3
              with:
                  version: "latest"
            - name: Install GDAL via conda (Windows-specific)
              uses: conda-incubator/setup-miniconda@v2
              with:
                  auto-activate-base: true
                  python-version: "3.10"
            - name: Install GDAL
              run: conda install -c conda-forge gdal --yes
            - name: Test GDAL installation
              run: |
                  python -c "from osgeo import gdal"
                  gdalinfo --version
            - name: Install dependencies
              run: |
                  uv sync --extra dev
            # - name: PKG-TEST
            #   run: |
                #   python -m pytest test/test_data_preprocess.py
                #   python -m pytest test/test_xaj.py
                #   python -m pytest test/test_gr4j.py
                #   python -m pytest test/test_hymod.py