on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

name: Windows build
jobs:
    test-windows:
        runs-on: windows-latest
        env:
            UV_HTTP_TIMEOUT: 300
        steps:
            - uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v4
              with:
                  enable-cache: true
                  cache-dependency-glob: "**/pyproject.toml"
            - name: Set up Python
              run: uv python install 3.11
            - name: Install dependencies
              run: |
                  uv sync --all-extras
            # - name: PKG-TEST
            #   run: |
                #   uv run pytest test/test_data_preprocess.py
                #   uv run pytest test/test_xaj.py
                #   uv run pytest test/test_gr4j.py
                #   uv run pytest test/test_hymod.py